.odd{
    color: black;
    background-color: pink;
    font-family: Verdana, Tahoma, sans-serif;
}
.three {
    font-size: 24px;
}
#two{
    color: blue;
    font-size: 36px;
}
#four{
    color: black;
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}